* {
  margin: 0;
  padding: 0
}

body {
  min-height: 100vh;
  margin: 0;
  color: white;
  font-size: 24px;
  font-family: "Lucida Console", Monaco, monospace;
}

.parent {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.child {
  display: flex;
  flex: .25;
  background: blue;
  justify-content: center;
  align-items: center;
}

.top {
  background: pink;
}

.middle {
  flex: 1;
  background: lightblue;
}


.bottom {
  background: lightgreen;
}
